@import "../../../constants/colors.css";


.custom-button-dark-blue{
    background-color: var(--dark-blue);
    border: none;
    width: 104px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}

.custom-button-dark-blue:hover{
    background-color: var(--purple);;
    cursor: pointer;
}

.custom-button-gradienttwo{
    background: linear-gradient(#4851FF, #F02AA6);
    border: none;
    width: 104px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}

.custom-button-gradienttwo:hover{
    background: linear-gradient(#F02AA6, #4851FF);
    cursor: pointer;
}


.custom-button-gradientone{
    background: linear-gradient(#F02AA6, #FF6F48);
    border: none;
    width: 104px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}

.custom-button-gradientone:hover{
    background: linear-gradient( #FF6F48, #F02AA6);
    cursor: pointer;
}
