@import "../../../constants/colors.css";


.custom-button-gradienttwo{
    background: linear-gradient(#4851FF, #F02AA6);
    border: none;
    width: 104px;
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}

.custom-button-gradienttwo:hover{
    background: linear-gradient(#F02AA6, #4851FF);
    cursor: pointer;
}
