.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* background: transparent; */
    width: 1440px;
    background-color: #13183F;
    /* border: 1px solid yellow; */
    width: 80%;

    

}

.left{
    width: 25%;
}
.right{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}