.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: transparent;
    width: 100%;
    position: absolute;
}

.left{
    width: 25%;
}
.right{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}