.hero{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.info{
    border: 1px solid brown;
    height: 250px;
    width: 300px;    
    margin: 200px 0 200px 0;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    padding-bottom: 200px;
}

