@import "../../constants/colors.css";

.first{
    background: linear-gradient(var(--customgradientone));
    border-radius: 20px;
    width: 350px;
    height: 322px;
    color: white;
    font-size: 20px;
}
.first-info{
    padding: 40px 20px 20px 20px;
}


.item{
    border-radius: 20px;
    width: 350px;
    height: 322px;
    background: white;
    position: relative;
}

.item-color{
    padding-left: 20px;
    padding-top: 20px;
    color: #F74780 ;
}

.p-text{
    
    padding-right: 20px;
    padding-top: 2px;
    padding-left: 20px;
}

.icon{
    position: absolute;
    top: -20px;
    width: 40px;
    left: 20px;
}

.h-text{
    font-size: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-left: 20px;
}